{% extends "base.html" %}
{% load i18n %}
{% load intformat %}
{% load render_table from django_tables2 %}

{% block content %}
  <h2>Submission {{ submission.id }}: {{ submission.status }}</h2>
  <ul>
    <li>by {{ submission.user }} @ {{ submission.date }}</li>
    <li>{{ submission.opt_filename}} {{ submission.opt_options }}</li>
    <li>{{ submission.test_dir }}</li>
    <li>/opt/llvmberry-tests/{{ submission.id | intformat }}</li>
  </ul>

  <div>
    <h3>Validation Units</h3>
    {% render_table table %}
  </div>
</div>
{% endblock %}
