{% extends "base.html" %}
{% load i18n %}
{% load filename %}

{% block content %}
  <h2>Assignment {{ assignment.name }}</h2>

  <div>
    <p>Skeleton: <a href="{% url 'assignment/skeleton' assignment.name %}">{{ assignment.skeleton | filename }}</a></p>
    <p>New submission: TODO.zip</p>
  </div>

  <div>
    <h3>My Submissions</h3>
    <ul>
      {% for submission in submissions %}
        <li>{{ submission.status }} submission submitted at {{ submission.submission_date }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
