{% extends "base.html" %}
{% load i18n %}
{% load filename %}

{% block content %}
  <h2>Assignment {{ assignment.name }}</h2>

  <div>
    <h3>New submission</h3>
    <ul>
      <li>Skeleton: <a href="{% url 'assignment/skeleton' assignment.name %}">{{ assignment.skeleton | filename }}</a></li>
      <li>
        <form enctype="multipart/form-data" action="{% url 'assignment/submit' assignment.name %}" method="post">
          {% csrf_token %}
          <div>
            {{ submission_form }}
          </div>
          <div><input type="submit" value="Submit" /></div>
        </form>
      </li>
    </ul>
  </div>

  <div>
    <h3>My Submissions</h3>
    <h4>Score: {{ score }}/{{ point }} pts</h4>
    <ul>
      {% for submission in submissions %}
      <li>
        <a href="{% url 'submission' submission.id %}">{{ submission.status }}</a> |
        {{ submission.score }}/{{ point }} pts |
        at {{ submission.submission_date }} |
        <a href="{% url 'submission/download' submission.id %}">{{ submission.submission_file | filename }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
