{% extends "base.html" %}
{% load i18n %}
{% load filename %}

{% block content %}
  <h2>Submission {{ submission.id }} for <a href="{% url 'assignment' submission.assignment.name %}">Assignment {{ submission.assignment.name }}</a></h2>

  <ul>
    <li>Submitted file: <a href="{% url 'submission/download' submission.id %}">{{ submission.submission_file | filename }}</a></li>
    <li>Submitted date: {{ submission.submission_date }}</li>
    <li>Status: {{ submission.status }}</li>
    <li>Score: {{ submission.score }}</li>
    <li>Message: {{ submission.message }}</li>
  </ul>
  </div>
{% endblock %}
